.container
{
    border: double hotpink 5px;
    height: 700px;
    width: 100%;
    background-color: pink;
}

.container > div 
{
    height: 450px;
    width: 450px;
    border: double black 5px;
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    padding: 0px;
    margin: 20px;
    margin-top: 100px;
    margin-left: 180px;
    background-color: white;

}
.container > .div1
{
    background-image: url('images1/21.jpg');
    position: relative;
}
.container > .div2
{
    background-image: url('images1/29.jpg');
    position: relative;
}

.div1 > p
{
    margin-top: 200px;
    text-align: center;
    color: beige;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
}

.div2 > p
{
    margin-top: 200px;
    color: beige;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
}